*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shop i,span{
    margin-top: 20px;
}
.imgshow img:hover{
    transform: scale(1.03);
}

.top{
    margin-top: 10%;
}
.form{
    text-align: center;
    margin-top: 10%;
    font-weight: bold;
    }
    





