.top{
    text-align: center;
}
.top h1{
    font-size: 100px;
    color: white;
    margin-top: 17%;
}
.top h4{
    color: white;
}

.deal h1{
    text-align: center ;
    font-weight: bold;
    margin-top: 10%;
}

.deal h2{
    text-align: center ;
    font-weight: bold; 
}


@media only screen and (max-width:768px)
{
 .upper{
    margin-top: 5%;
 }   
 .top h1 {
    font-size: 59px;
    color: white;
    margin-top: 17%;
}
}


@media only screen and (max-width:425px)
{
    .top h1 {
        font-size: 34px;
        color: white;
        margin-top: 9%;
    }
    .top-img img{
        padding: 15px;
    }
    .mountain img{
        padding: 15px;
    }
    
}